/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
}

.title {
  text-transform: uppercase;
}

.grid {
  display: grid;
  grid-auto-flow: column;
  justify-content: left;
  column-gap: 0.5rem;
}

a {
  text-decoration: none;
  font-size: 1.2rem;
}

.padding-2 {
  padding: 2rem;
}

label {
  width: 80px;
  display: inline-block;
}

table caption {
  @extend .title;
}
h1,h2,h3,h4,h5{
  font-family: 'Roboto', sans-serif;
}
